```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dependencies
.venv/
venv/
env/

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Coverage
.coverage
coverage/
htmlcov/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# VSCode
.vscode/

# IntelliJ
.idea/

# OS generated
.DS_Store
Thumbs.db
```